<div class="alert alert-danger" *ngIf="inValidLogin">
 {{errorMessage}}
</div>

<!-- UserName: <input type="text" name="username" id="username" value={{username}}> -->
 <div class="container">
  <h2>Login Here</h2>
UserName: <input type="text" name="username" id="username" [(ngModel)]="username">

Password: <input type="password" name="password" id="password" [(ngModel)]="password">
<br><br>
<button class="btn btn-success" (click)="onLogin()">Login</button>

<button class="btn btn-secondary" (click)="onReset()">Reset</button>
</div>